.container{
	display: flex;
	justify-content: space-around;
}

.box,.box2,.box3,.box4{
	width: 200px;
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn1,.btn2,.btn3,.btn4{
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
	border-radius: 20px;
	color: #fff;
	border: none;

	background-color:#f9f9f9;
}
.btn1{
	background-color: red;
}
.btn2{
	background-color:blue;
}
.btn3{
	background-color: yellow;
}
.btn4{
	background-color: black;
}