
/* .online-hours{
   display: flex;
   /* background-color: red; */
   /* color:#fff; */
   /* } */
   * {
      padding: 0;
      margin: 0;
   }
   
   nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 10vh;
      background-color: orange;
   }
   
   .nav-link {
      width: 50%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index:1;

   }
   .nav-link li {
      display: inline-block;
      cursor: pointer;
      list-style-type: none;
      /* background-color: #70700; */
      background-color: #2d78b2;
      padding: 10px;
      border-radius:7px;
   }
   
   .nav-link li  a{
      pointer-events:none; 
      opacity:0.6;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
   }
   .nav-content{
      padding: 20px;
      display: block;
      width: 100%;
      background-color: red;
      height:10vh;
      border: 1px solid #fff;
   }
    .nav-content.showe {
       display: block;
    }
   .nav-content.hide{
      display: none;
   }
   
   @media screen and (max-width:767px) {
      .nav-link {
         position: relative;
         width: 100%;
         height: 100vh;
         flex-direction: column;
         clip-path: circle(100px at 90% -10%);
         visibility: hidden; 
         transition: all .5s ease;
      background-color: blue;
      }
      
      nav {
         position: relative;
         background:blue;

         
      }
      
      .click {
         position: absolute;
         right: 5%;
         top: 10%;
         width: 30px;
         z-index: 11;
         cursor: pointer;
      }
      
      .click .line {
         width: 90%;
         height: 5px;
         background: #fff;
         margin: 5px;
      }
      
      .nav-link.open {
         clip-path: circle(700px at 90%  10%);
         visibility:visible;
         list-style:none;
      }
      a {
         color: #fff;
         font-size: 16px;
         text-decoration: none;
         
      }
   }
   
   
   /* start of tab stiling   */
   #tabs{
      margin: 15px;
   }
   #tabs  .tab{
      display: inline-block;
      padding: 5px 15px;
   }
   .tab{
      cursor: pointer;
   }
   /* .active{
      background-color: blue;;
      border-radius: 5px;
   } */
   .tab.active{
      border:1px solid #707070;
      border-bottom: 1px solid #fff;;
      border-radius: 3px 3px 0 0;
   }
   .tab-content{
      width: 300px;
      height: 60px;
      border:1px solid #707070;
      padding: 10px;
      margin-top: -1px;
      
   }
   .tab-content.hide{
      display: none;
   }
   .tab-content.show {
      display: block;
   }